
.top_link {
	margin-right: 0;

	text-transform: uppercase;

	color: #FFF;
	border: none;
	background-color: transparent;
}

.top_link:hover {
	color: #FFF;
}

.formbgbtn {
	color: #FFF !important;
	background-color: #F7931E !important;

	font-weight: 700 !important;
}
